# Theme:     Broadway
# Author:    Walter Purcaro <vuolter@gmail.com>
# Platform:  SanDisk Sansa Clip Zip
# Version:   2.2
# Licence:   CC-BY-SA 3.0


sbs:                        /.rockbox/wps/Broadway.sbs
wps:                        /.rockbox/wps/Broadway.wps
fms:                        /.rockbox/wps/Broadway.fms
font:                       /.rockbox/fonts/14-Sansation_Regular.fnt
backdrop:                   -
ui viewport:                -
show icons:                 off
statusbar:                  off
scrollbar:                  off
foreground color:           08E3E7
background color:           000000
selector type:              bar (color)
line selector text color:   FFE708
line selector start color:  000000
line selector end color:    000000
